.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.component {
  border: 1px solid black;
  padding: 20px;
}

.red {
  margin: 20px;
  background: red;
}

.green {
  background: green;
  margin-bottom: 20px;
}

.green ul {
  display: flex;
  list-style-type: none;
}

.green li {
  margin-right: 20px;
}

.aquamarine {
  background: aquamarine;
  margin-bottom: 20px;
}

.yellow {
  background: yellow;
}

h2,
button
 {
  font-size: 45px;
}
